<?xml version='1.0' encoding='utf-8'?>

<Context>
	<!--
		name:指定Resource的JNDI名称
		auth:指定管理Resource的Manager
		type:指定Resource所属的Java类
		maxActive:指定连接池中处于活动状态的数据库连接的最大数目
		maxIdle:指定连接池中处于空闲状态的数据库连接的最大数目
		maxWait:指定连接池中的连接处于空闲的最长时间
	  -->
     <Resource 
     	name="jdbc/news" 
     	auth="Container" 
     	type="javax.sql.DataSource"
      	maxActive="100" 
      	maxIdle="30" 
      	maxWait="10000" 
      	username="root"
        password="" 
        driverClassName="com.mysql.jdbc.Driver"
      	url="jdbc:mysql://192.168.0.113:3306/jw?useUnicode=true&amp;characterEncoding=utf-8" />
      	
      	
      
</Context>